<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8 mx-auto">
      <div class="m-3">
        <div class="row bg-light mt-3 p-3 justify-content-center">
          <h1>New Company</h1>
        </div>
        <div class="row bg-light mt-3 p-3 justify-content-center">
        <%= render 'form', company: @company %>
        </div>
      </div>
    </div>
  </div>
  <div>
    <p class="btn btn-dark mt-5 rounded-pill"><%= link_to 'Back', companies_path, class: "text-white fs-5"%></p>
  </div>
</div>
