// _banner.scss
.banner {
  background-size: cover;
  background-position: center;
  position: relative;
  padding-bottom: 75px;
}

.banner-image {
  width: 100%;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }
h1 {
  color: white;
  font-weight: bold;
}

p {
  color: white;
  opacity: 0.7;
  font-size: 20px;
}
