.button-primary {
  display: inline-block;
  background-color: #DD851E;
  padding: 10px 14px;
  border-radius: 50px;
  color: white;
  transition: all 0.5s ease;
  font-weight: bold;
  font-size: 80%;
  line-height: 24px;
}

.button-primary:hover {
  background-color: orangered;
  color: white;
  text-decoration: none;
}

.button-secondary {
  background-color: transparent;
  border: 2px solid ;
  padding: 8px 16px;
  border-radius: 50px;
  color: orange;
  border-color: orange;
}

.button-secondary:hover {
  color: orangered;
  text-decoration: none;
  border-color: orangered;
}

/* Auto layout */
.btn {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #DD851E;
  // border: 1px solid #000000;
  border-radius: 100px;
  color: azure;
}

.btn-big {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #DD851E;
  padding: 16px 50px;
  // border: 1px solid #000000;
  border: none;
  border-radius: 100px;
  color: azure;
  text-decoration: none;
}

.btn-big:hover {
  color: black;
  text-decoration: none;
}

.btn-big-dark {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background: #DD851E;
  padding: 16px 50px;
  border: 1px solid #000000;
  border-radius: 100px;
  color: rgb(6, 6, 6);
  text-decoration: none;
}

.btn-big-dark:hover {
  background: #111110;
  color: azure;
  text-decoration: none;
}

#red:hover {
  background: rgb(180, 28, 28);
  color: azure;
  text-decoration: none;
  border: none;
}

#blue:hover {
  background: rgb(72, 43, 203);
  color: azure;
  text-decoration: none;
  border: none;
}

#green:hover {
  background: rgb(19, 84, 55);
  color: azure;
  text-decoration: none;
  border: none;
}

.delete-button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #f44336; /* Red background */
  color: #ffffff; /* White text */
  text-decoration: none; /* Remove underline */
  text-align: center;
  border-radius: 5px; /* Rounded corners */
  font-weight: bold; /* Bold text */
  transition: background-color 0.3s; /* Smooth transition */
}

.delete-button:hover {
  background-color: #d32f2f; /* Darken background on hover */
}
