.button-primary {
  display: inline-block;
  background-color: orangered;
  padding: 16px 36px;
  border-radius: 50px;
  color: white;
}

.button-primary:hover {
  background-color: red;
  color: white;
  text-decoration: none;
}

.button-secondary {
  background-color: transparent;
  border: 1px solid ;
  padding: 8px 16px;
  border-radius: 50px;
  color: orangered;
}

.button-secondary:hover {
  color: red;
  text-decoration: none;
}

/* Auto layout */
.btn {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #DD851E;
  border: 1px solid #000000;
  border-radius: 100px;
  color: azure;
}
