.button-primary {
  display: inline-block;
  background-color: #DD851E;
  padding: 10px 14px;
  border-radius: 50px;
  color: white;
  transition: all 0.5s ease;
  font-weight: bold;
  font-size: 80%;
  line-height: 24px;
}

.button-primary:hover {
  background-color: orangered;
  color: white;
  text-decoration: none;
  transition: all 0.5s ease;
}

.button-secondary {
  background-color: transparent;
  border: 2px solid ;
  padding: 8px 16px;
  border-radius: 50px;
  color: orange;
  border-color: orange;
}

.button-secondary:hover {
  color: orangered;
  text-decoration: none;
  border-color: orangered;
}

/* Auto layout */
.btn {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #DD851E;
  // border: 1px solid #000000;
  border-radius: 100px;
  color: azure;
}

.btn:hover{
  background-color: orange;
}


.btn-big {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #DD851E;
  padding: 16px 50px;
  // border: 1px solid #000000;
  border: none;
  border-radius: 100px;
  color: azure;
  text-decoration: none;
}

.btn-big:hover {
  color:azure;
  text-decoration: none;
  background-color: orange;
}

.btn-big-dark {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background: #DD851E;
  padding: 16px 50px;
  border: 1px solid #000000;
  border-radius: 100px;
  color: rgb(6, 6, 6);
  text-decoration: none;
}

.btn-big-dark:hover {
  background: #111110;
  color: azure;
  text-decoration: none;
}

#red:hover {
  background: rgb(180, 28, 28);
  color: azure;
  text-decoration: none;
  border: none;
}

#blue:hover {
  background: rgb(72, 43, 203);
  color: azure;
  text-decoration: none;
  border: none;
}

#green:hover {
  background: rgb(19, 84, 55);
  color: azure;
  text-decoration: none;
  border: none;
}

.delete-button {
  display: inline-block;
  padding: 5px 10px;
  background-color: transparent;
  color: black; /* White text */
  text-decoration: none; /* Remove underline */
  text-align: center;
  border-radius: 5px; /* Rounded corners */
  font-weight: bold; /* Bold text */
  transition: background-color 0.3s; /* Smooth transition */
}

.btn-login {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #69ab3e;  /* Slightly different color tone */
  padding: 16px 50px;
  border: none;
  border-radius: 100px;
  color: azure;
  text-decoration: none;
}

.btn-login:hover {
  color: azure;
  text-decoration: none;
  background-color: #97ba2f;  /* Different hover color */
}


/* CSS */
.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
