.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #DD851E;
  padding: 20px;
  text-align: center;
}

.text-center.py-1.bg-dark.text-light {
  background-color: #DD851E!important;
  color: white !important;
}
