.free-text-input {
  position: relative;
  border: 1px solid #0f0e0e;
  border-radius: 4px;
  padding: 20px 50px;
  margin-bottom: 10px;
  margin-right: 50px;
}

.free-text-input::before {
  // content: "Enter your text:";
  position: absolute;
  top: -16px;
  left: 10px;
  background-color: #fff;
  padding: 0 5px;
  font-weight: bold;
  font-size: 12px;
}

.free-text-input textarea {
  width: 100%;
  padding-right: 25px;
}

.free-text-input-big {
  position: relative;
  border: 1px solid #0f0e0e;
  border-radius: 4px;
  padding: 20px 50px;
  margin-bottom: 10px;
  width: 600px;
}
