.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: auto;
  right: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #0E0000;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}
// hover effect
.dropdown-item:hover {
  background-color: #DD851E;
  color: white;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .navbar-lewagon {
    flex-direction: column;
  }

  .navbar-lewagon .navbar-collapse {
    width: 100%;
  }

  .navbar-lewagon .navbar-brand img {
    width: 30px;
  }

  .dropdown-menu {
    min-width: auto;
    padding: 1rem 0;
    font-size: 0.9rem;
  }
}

.navbar-nav {
  align-items: center;
}
